<footer>
    <p><strong>Contact Us</strong></p>
    <p>📍 Amar, Kanfala (Beside NH-34), Near Palsanda, Berhmapore</p>
    <p>PS: Nabagram, Murshidabad, Pin - 742184(West Bengal)</p>
    <p>📧 bimtpoly@gmail.com</p>
    <p>📞 +91-8967158821 / 7864888061 / 6294515804(Office)</p>
    <p style="color: rgb(157, 154, 154)">
        &copy; BCARE Institute Of Management & Technology (Polytechnic). All
        rights reserved.
        <span
            style="
                font-family: cursive;
                font-size: 1.2rem;
                color: #ffe600;
                margin-left: 10px;
            "
        >
            Crafted By -
            <span style="font-weight: bold"
                >K<span
                    style="
                        font-family: cursive;
                        font-size: 1.2rem;
                        color: #d97c7c;
                        margin-left: 2px;
                    "
                    >M</span
                ></span
            >
        </span>
    </p>
</footer>
