<header>
    <div class="container header-container">
        <img src="../public/campus/LOGO.jpg" alt="College Logo" class="logo" />
        <div class="header-title">
            <h1>BCARE Institute Of Management & Technology (Polytechnic)</h1>
            <p class="affiliation-line">(Under The Society Of BARSEED)</p>
            <p class="affiliation-line">
                Approved by
                <span class="highlight">AICTE (GOVT OF INDIA)</span> |
                Affiliated to
                <span class="highlight">W.B.S.C.T.V.E.S.D. (GOVT OF WB.)</span>
            </p>
            <p class="affiliation-line">
                <span class="highlight">ISO 9001:2008</span> Certified
            </p>
        </div>
        <a href="index.html#admissions" class="header-btn">🎓 Apply Now</a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
            <a href="#">About ▾</a>
            <ul class="dropdown-content">
                <li><a href="affiliation.html#affiliation">Affiliations</a></li>
                <li class="dropdown">
                    <a href="#">Governance ▸</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="gb.html">Governing Body</a>
                        </li>
                        <li>
                            <a href="committees.html#committee?file=icc.json"
                                >ICC</a
                            >
                        </li>
                        <li>
                            <a href="committees.html?file=anti-ragging.json"
                                >Anti-Ragging Committee</a
                            >
                        </li>
                        <li>
                            <a href="committees.html?file=grievance.json"
                                >Grievance Committee</a
                            >
                        </li>
                        <li>
                            <a href="committees.html?file=iic.json"
                                >Institution-Industry Cell</a
                            >
                        </li>
                        <li>
                            <a href="committees.html?file=iqac.json">IQAC</a>
                        </li>
                        <li>
                            <a href="committees.html?file=scst.json">SC/ST</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Message ▸</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="message.html?type=director"
                                >Director's Message</a
                            >
                        </li>
                        <li>
                            <a href="message.html?type=principal"
                                >Principal's Message</a
                            >
                        </li>
                    </ul>
                </li>
                <li><a href="documents.html">Essential Documents</a></li>
            </ul>
        </li>

        <li><a href="index.html#courses">Courses</a></li>
        <li class="dropdown">
            <a href="#">Admissions ▾</a>
            <ul class="dropdown-content">
                <li><a href="index.html#admissions">Eligibility</a></li>
                <li>
                    <a href="../public/Admission Form.pdf" download
                        >Admisison Form</a
                    >
                </li>
                <li><a href="../public/brochure.pdf" download>Bruchure</a></li>
                <li><a href="index.html#faq">FAQ</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Training & Placement ▾</a>
            <ul class="dropdown-content">
                <li><a href="placements.html">Placement Record</a></li>
                <li><a href="training.html">Training & Placement Cell</a></li>
            </ul>
        </li>

        <li><a href="faculty.html">Faculty</a></li>
        <li class="dropdown">
            <a href="#">Gallery ▾</a>
            <ul class="dropdown-content">
                <li><a href="gallery.html?category=event">Events</a></li>
                <li><a href="gallery.html?category=lab">Labs</a></li>
                <li><a href="gallery.html?category=campus">Campus</a></li>
            </ul>
        </li>
        <li><a href="index.html#contact">Contact Us</a></li>
    </ul>
</nav>
